@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", serif;
}
.main-wrapper {
  max-width: 1920px;
  width: 100%;
}
nav {
  margin: 56px 192px 0 191px;
  .container-fluid {
    .navbar-brand {
      .logo {
        font-size: 26px;
        background-color: #458ff6;
        padding: 5px 13px;
        margin-right: 12px;
      }
      .brand {
        font-size: 24px;
        color: #233348;
      }
    }
    #navbarNav {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #1f1534;
            opacity: 0.5;
            font-size: 18px;
            padding: 8px 10px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: #458ff6;
              opacity: 1;
            }

            &.active {
              color: #1f1534;
              font-weight: 700;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.hero-section {
  margin-left: 191px;
  margin-right: 192px;
  .bg-element {
    top: 63px;
    left: -241px;
  }
  .hero-content {
    padding-top: 186px;
    padding-right: 109px;

    h1 {
      font-size: 48px;
      max-width: 427px;
    }
    p {
      font-size: 21px;
      color: #7d7987;
      max-width: 445px;
      margin-top: 25px;
    }
    .btn {
      background-color: #458ff6;
      transition: all 0.3s ease-in-out;
      font-size: 18px;
      padding: 15px 40px;
      margin-top: 45px;
      &:hover {
        background-color: #2978e8;
      }
    }
  }
}
.our-services {
  margin-top: 192px;
  margin-left: 191px;
  margin-right: 192px;
  .service-content {
    max-width: 952px;
    h2{
      font-size: 36px;
    }
    hr {
      border: 2px solid black;
      opacity: 1;
      max-width: 56px;
      border-radius: 5px;
      margin-top: 26px;
    }
    p {
      font-size: 18px;
      color: #7d7987;
      margin-top: 33px;
    }
  }
  .card-container {
    margin-top: 80px;
    .row {
      .col {
        max-width: 350px;
        width: 100%;
        .card {
          border: none;
          border-radius: 20px;
          box-shadow: 10px 40px 50px 0px #E5E9F666;
          .icon-container {
            padding: 54px 0 0 37px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  nav {
    margin: 36px 100px 0 100px;
  }
  .hero-section {
    margin-left: 100px;
    margin-right: 100px;
    .bg-element {
      top: 30px;
      left: -150px;
    }
    .hero-content {
      padding-top: 100px;
      padding-right: 60px;

      h1 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
      .btn {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  nav {
    margin: 26px 50px 0 50px;
    .nav-link {
      font-size: 16px;
    }
  }
  .hero-section {
    margin-left: 50px;
    margin-right: 50px;
    .bg-element {
      top: 30px;
      left: -100px;
    }
    .hero-content {
      padding-top: 50px;

      h1 {
        font-size: 36px;
      }
      .btn {
        font-size: 16px;
        padding: 12px 30px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  nav {
    margin: 0 20px 0 20px;
  }
  .hero-section {
    width: 100%;
    margin: 0;
    .bg-element {
      top: 30px;
      left: -50px;
    }
    .hero-content {
      padding: 50px 20px 0 20px;
      margin-bottom: 50px;
      width: 100%;
      text-align: center;
      h1,
      p {
        max-width: 100%;
        width: 520px;
        text-align: center;
      }
    }
    .hero-background {
      padding: 0 20px;
    }
  }
}
