@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", serif;
}

.main-wrapper {
  max-width: 1920px;
  width: 100%;
}

nav {
  margin: 56px 192px 0 191px;
}
nav .container-fluid .navbar-brand .logo {
  font-size: 26px;
  background-color: #458ff6;
  padding: 5px 13px;
  margin-right: 12px;
}
nav .container-fluid .navbar-brand .brand {
  font-size: 24px;
  color: #233348;
}
nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link {
  color: #1f1534;
  opacity: 0.5;
  font-size: 18px;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}
nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #458ff6;
  opacity: 1;
}
nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link.active {
  color: #1f1534;
  font-weight: 700;
  opacity: 1;
}

.hero-section {
  margin-left: 191px;
  margin-right: 192px;
}
.hero-section .bg-element {
  top: 63px;
  left: -241px;
}
.hero-section .hero-content {
  padding-top: 186px;
  padding-right: 109px;
}
.hero-section .hero-content h1 {
  font-size: 48px;
  max-width: 427px;
}
.hero-section .hero-content p {
  font-size: 21px;
  color: #7d7987;
  max-width: 445px;
  margin-top: 25px;
}
.hero-section .hero-content .btn {
  background-color: #458ff6;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 15px 40px;
  margin-top: 45px;
}
.hero-section .hero-content .btn:hover {
  background-color: #2978e8;
}

.our-services {
  margin: 192px 192px 0 191px;
}
.our-services .bg-service-vector {
  top: 215px;
  left: -345.34px;
}
.our-services .service-content {
  max-width: 952px;
}
.our-services .service-content h2 {
  font-size: 36px;
}
.our-services .service-content hr {
  border: 2px solid black;
  opacity: 1;
  max-width: 56px;
  border-radius: 5px;
  margin-top: 26px;
}
.our-services .service-content p {
  font-size: 18px;
  color: #7d7987;
  margin-top: 33px;
}
.our-services .card-container {
  margin-top: 80px;
}
.our-services .card-container .bg-service-element {
  top: 285px;
  right: 19.42px;
}
.our-services .card-container .row .col .card {
  border: none;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}
.our-services .card-container .row .col .card .icon-container {
  padding: 54px 0 0 37px;
}
.our-services .card-container .row .col .card .icon-container .icon {
  width: 100px;
  height: 100px;
  padding: 5px;
}
.our-services .card-container .row .col .card .card-body {
  padding: 22.41px 45px 46.59px 39px;
}
.our-services .card-container .row .col .card .card-body h5 {
  font-size: 24px;
}
.our-services .card-container .row .col .card .card-body p {
  color: #7d7987;
  line-height: 28px;
}
.our-services .btn-container {
  margin-top: 69px;
}
.our-services .btn-container .btn-outline-primary {
  --bs-btn-color: #458ff6;
  --bs-btn-border-color: #458ff6;
  --bs-btn-hover-bg: #458ff6;
  --bs-btn-hover-border-color: #458ff6;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #307be6;
  --bs-btn-active-border-color: #307be6;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #458ff6;
  --bs-btn-disabled-border-color: #458ff6;
  font-size: 18px;
  padding: 15px 50px;
}

@media screen and (max-width: 1400px) {
  nav {
    margin: 36px 100px 0 100px;
  }
  .hero-section {
    margin-left: 100px;
    margin-right: 100px;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -150px;
  }
  .hero-section .hero-content {
    padding-top: 100px;
    padding-right: 60px;
  }
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
  .hero-section .hero-content p {
    font-size: 18px;
  }
  .hero-section .hero-content .btn {
    margin-top: 30px;
  }
  .our-services {
    margin: 100px 100px 0 100px;
  }
  .our-services .service-content h2 {
    font-size: 32px;
  }
  .our-services .service-content hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .our-services .service-content p {
    font-size: 16px;
    margin-top: 25px;
  }
  .our-services .card-container {
    margin-top: 60px;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 40px 0 0 30px;
  }
  .our-services .card-container .row .col .card .card-body {
    padding: 20px 30px 40px 30px;
  }
  .our-services .card-container .row .col .card .card-body h5 {
    font-size: 20px;
  }
  .our-services .card-container .row .col .card .card-body p {
    font-size: 16px;
  }
  .our-services .btn-container {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    margin: 26px 50px 0 50px;
  }
  nav .nav-link {
    font-size: 16px;
  }
  .hero-section {
    margin-left: 50px;
    margin-right: 50px;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -100px;
  }
  .hero-section .hero-content {
    padding-top: 50px;
  }
  .hero-section .hero-content h1 {
    font-size: 36px;
  }
  .hero-section .hero-content .btn {
    font-size: 16px;
    padding: 12px 30px;
  }
  .our-services {
    margin: 50px 50px 0 50px;
  }
  .our-services .bg-service-vector {
    top: 130px;
    left: -420.34px;
  }
  .our-services .service-content h2 {
    font-size: 28px;
  }
  .our-services .service-content hr {
    max-width: 40px;
    margin-top: 20px;
  }
  .our-services .service-content p {
    font-size: 16px;
    margin-top: 20px;
  }
  .our-services .card-container {
    margin-top: 40px;
  }
  .our-services .card-container .bg-service-element {
    top: 247px;
    right: -38.58px;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 30px 0 0 20px;
  }
  .our-services .card-container .row .col .card .card-body {
    padding: 15px 20px 30px 20px;
  }
  .our-services .card-container .row .col .card .card-body h5 {
    font-size: 20px;
  }
  .our-services .card-container .row .col .card .card-body p {
    font-size: 14px;
    line-height: 24px;
  }
  .our-services .btn-container {
    margin-top: 30px;
  }
  .our-services .btn-container .btn-outline-primary {
    font-size: 16px;
    padding: 12px 40px;
  }
}
@media screen and (max-width: 992px) {
  nav {
    margin: 0 20px 0 20px;
  }
  .hero-section {
    width: 100%;
    margin: 0;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -50px;
  }
  .hero-section .hero-content {
    padding: 50px 20px 0 20px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
  }
  .hero-section .hero-content h1,
  .hero-section .hero-content p {
    max-width: 100%;
    width: 520px;
    text-align: center;
  }
  .hero-section .hero-background {
    padding: 0 20px;
  }
  .our-services .bg-service-vector {
    top: 190px;
    left: -500.34px;
  }
  .our-services .service-content h2,
  .our-services .service-content p {
    max-width: 100%;
    width: 520px;
    text-align: center;
  }
  .our-services .card-container .bg-service-element {
    top: 240px;
    right: -0.58px;
  }
}
@media screen and (max-width: 768px) {
  .our-services {
    width: 100%;
    margin: 50px 0 0 0;
  }
  .our-services .bg-service-vector {
    top: 230px;
    left: -510.34px;
  }
  .our-services .service-content {
    padding: 50px 20px 0 20px;
    width: 100%;
  }
  .our-services .card-container {
    padding: 10px 20px 0 20px;
    width: 100%;
  }
  .our-services .card-container .bg-service-element {
    top: 460px;
    right: 10px;
  }
  .our-services .card-container .row .col {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 30px 0 0 0;
  }
}
@media screen and (max-width: 568px) {
  .our-services .bg-service-vector {
    top: 305px;
    left: -639.34px;
  }
  .our-services .card-container .bg-service-element {
    top: 564px;
    right: 7px;
  }
}