@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", serif;
}

.main-wrapper {
  max-width: 1920px;
  width: 100%;
}

nav {
  margin-top: 56px;
  padding: 0 192px 0 191px !important;
}
nav .container-fluid .navbar-brand .logo {
  font-size: 26px;
  background-color: #458ff6;
  padding: 5px 13px;
  margin-right: 12px;
}
nav .container-fluid .navbar-brand .brand {
  font-size: 24px;
  color: #233348;
}
nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link {
  color: #1f1534;
  opacity: 0.5;
  font-size: 18px;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}
nav .container-fluid #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: #458ff6;
  opacity: 1;
}

.hero-section {
  margin-left: 191px;
  margin-right: 192px;
}
.hero-section .bg-element {
  top: 63px;
  left: -241px;
}
.hero-section .hero-content {
  padding-top: 186px;
  padding-right: 109px;
}
.hero-section .hero-content h1 {
  font-size: 48px;
  max-width: 427px;
}
.hero-section .hero-content p {
  font-size: 21px;
  color: #7d7987;
  max-width: 445px;
  margin-top: 25px;
}
.hero-section .hero-content .btn {
  background-color: #458ff6;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  padding: 15px 40px;
  margin-top: 45px;
}
.hero-section .hero-content .btn:hover {
  background-color: #2978e8;
}

.service-relative {
  overflow-x: clip;
  scroll-padding-top: 500px;
}
.service-relative .service-background {
  top: 215px;
  left: -179px;
}

.our-services {
  scroll-margin-top: 80px;
  margin: 192px 192px 0 191px;
}
.our-services .service-content {
  max-width: 952px;
}
.our-services .service-content h2 {
  font-size: 36px;
}
.our-services .service-content hr {
  border: 2px solid #000;
  opacity: 1;
  max-width: 56px;
  width: 100%;
  border-radius: 5px;
  margin-top: 26px;
}
.our-services .service-content p {
  font-size: 18px;
  color: #7d7987;
  margin-top: 33px;
}
.our-services .card-container {
  margin-top: 80px;
}
.our-services .card-container .service-element {
  top: 276px;
  right: -50px;
}
.our-services .card-container .row .col .card {
  border: none;
  border-radius: 20px;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
}
.our-services .card-container .row .col .card .icon-container {
  padding: 54px 0 0 37px;
}
.our-services .card-container .row .col .card .icon-container .icon {
  width: 100px;
  height: 100px;
  padding: 5px;
}
.our-services .card-container .row .col .card .card-body {
  padding: 22.41px 45px 46.59px 39px;
}
.our-services .card-container .row .col .card .card-body h5 {
  font-size: 24px;
}
.our-services .card-container .row .col .card .card-body p {
  color: #7d7987;
  line-height: 28px;
}
.our-services .btn-container {
  margin-top: 69px;
}
.our-services .btn-container .btn-outline-primary {
  --bs-btn-color: #458ff6;
  --bs-btn-border-color: #458ff6;
  --bs-btn-hover-bg: #458ff6;
  --bs-btn-hover-border-color: #458ff6;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #307be6;
  --bs-btn-active-border-color: #307be6;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #458ff6;
  --bs-btn-disabled-border-color: #458ff6;
  font-size: 18px;
  padding: 15px 50px;
}

.healthcare-section {
  margin: 220px 192px 0 135px;
}
.healthcare-section .healthcare-content {
  max-width: 486px;
  margin-left: 50px;
}
.healthcare-section .healthcare-content h2 {
  font-size: 36px;
}
.healthcare-section .healthcare-content hr {
  border: 2px solid #000;
  opacity: 1;
  max-width: 56px;
  width: 100%;
  border-radius: 5px;
  margin-top: 26px;
}
.healthcare-section .healthcare-content p {
  font-size: 18px;
  color: #7d7987;
  margin-top: 31px;
  max-width: 450px;
}
.healthcare-section .healthcare-content .button-container {
  margin-top: 40px;
}
.healthcare-section .healthcare-content .button-container .btn-outline-primary {
  --bs-btn-color: #458ff6;
  --bs-btn-border-color: #458ff6;
  --bs-btn-hover-bg: #458ff6;
  --bs-btn-hover-border-color: #458ff6;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #307be6;
  --bs-btn-active-border-color: #307be6;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #458ff6;
  --bs-btn-disabled-border-color: #458ff6;
  font-size: 18px;
  padding: 15px 50px;
}

.download-relative {
  overflow-x: clip;
}
.download-relative .download-element {
  top: -126px;
  right: -46px;
}

.download-section {
  scroll-margin-top: 80px;
  margin: 229px 164px 0 280px;
}
.download-section .download-content {
  max-width: 420px;
  padding: 36px 71px 23px 0;
}
.download-section .download-content h2 {
  font-size: 36px;
}
.download-section .download-content hr {
  border: 2px solid #000;
  opacity: 1;
  max-width: 56px;
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
}
.download-section .download-content p {
  font-size: 18px;
  color: #7d7987;
  margin-top: 31px;
}
.download-section .download-content .btn-outline-primary {
  --bs-btn-color: #458ff6;
  --bs-btn-border-color: #458ff6;
  --bs-btn-hover-bg: #458ff6;
  --bs-btn-hover-border-color: #458ff6;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #307be6;
  --bs-btn-active-border-color: #307be6;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #458ff6;
  --bs-btn-disabled-border-color: #458ff6;
  font-size: 18px;
  padding: 15px 43px;
  margin-top: 40px;
}
.download-section .download-content .btn-outline-primary .icon-container {
  width: 16px;
  height: 16px;
}
.download-section .download-content .btn-outline-primary .download-icon {
  width: 100%;
  height: 100%;
}

.testimonial-section {
  scroll-margin-top: 80px;
  margin: 266px 261px 0 219px;
}
.testimonial-section .testimonial-element {
  top: -15px;
  right: -48px;
}
.testimonial-section .testimonial-relative .testimonial-element1 {
  bottom: 39px;
  left: -52px;
}
.testimonial-section .custom-slider {
  max-width: 1120px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}
.testimonial-section .custom-slider .testimonial-card h4 {
  font-size: 36px;
  margin-top: 64px;
  margin-bottom: 0;
  margin-inline: auto;
  color: #fff;
}
.testimonial-section .custom-slider .testimonial-card hr {
  border: 2px solid #fff;
  opacity: 1;
  max-width: 56px;
  width: 100%;
  border-radius: 5px;
  margin-top: 26px;
}
.testimonial-section .custom-slider .testimonial-card .slide-content {
  margin: 66px 118px 79px 118px;
}
.testimonial-section .custom-slider .testimonial-card .slide-content h5 {
  font-size: 22px;
  color: #fff;
  width: 184px;
}
.testimonial-section .custom-slider .testimonial-card .slide-content p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8980392157);
}
.testimonial-section .custom-slider .testimonial-card .slide-content .head-text {
  margin-left: 29px;
}
.testimonial-section .custom-slider .testimonial-card .slide-content .head-text p {
  color: rgba(255, 255, 255, 0.8509803922);
}
.testimonial-section .custom-slider .testimonial-card .slide-content .slide-text {
  max-width: 420px;
  margin-left: 110px !important;
}
.testimonial-section .carousel-controls-wrapper {
  margin-top: 43px;
}
.testimonial-section .carousel-controls-wrapper .custom-prev-icon {
  transform: rotate(90deg);
  fill: rgba(91, 155, 243, 0.3);
  transition: fill 0.2s ease;
}
.testimonial-section .carousel-controls-wrapper .custom-prev-icon:hover {
  fill: #5b9bf3;
}
.testimonial-section .carousel-controls-wrapper .carousel-indicators {
  margin-inline: 80px !important;
}
.testimonial-section .carousel-controls-wrapper .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(91, 155, 243, 0.3);
  border: none;
  margin: 0 9px;
}
.testimonial-section .carousel-controls-wrapper .carousel-indicators .active {
  background-color: #5b9bf3;
  opacity: 1;
}
.testimonial-section .carousel-controls-wrapper .custom-next-icon {
  transform: rotate(-90deg);
  fill: rgba(91, 155, 243, 0.3);
  transition: fill 0.2s ease;
}
.testimonial-section .carousel-controls-wrapper .custom-next-icon:hover {
  fill: #5b9bf3;
}

.article-relative {
  overflow-x: clip;
}
.article-relative .article-background {
  top: 86px;
  right: -308px;
}

.article-section {
  scroll-margin-top: 80px;
  margin: 222px 240px 0 240px;
}
.article-section h2 {
  font-size: 36px;
}
.article-section hr {
  border: 2px solid #000;
  opacity: 1;
  max-width: 56px;
  width: 100%;
  border-radius: 5px;
  margin-top: 26px;
}
.article-section .article-cards {
  margin-top: 79px;
}
.article-section .article-cards .article-element {
  top: -42px;
  left: -49px;
}
.article-section .article-cards .row {
  row-gap: 20px;
}
.article-section .article-cards .card {
  max-width: 350px;
  margin: 0 auto;
  border: none;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.article-section .article-cards .card .card-body {
  padding: 24px 51px 35px 33px;
}
.article-section .article-cards .card .card-body h5 {
  font-size: 21px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}
.article-section .article-cards .card .card-body p {
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  font-weight: 300;
  margin-bottom: 25px;
}
.article-section .article-cards .card .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.article-section .article-cards .card .read-more {
  color: #4089ed;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}
.article-section .article-cards .card .read-more:hover {
  color: #166de4;
}
.article-section .article-cards .card .read-more .read-more-text {
  padding-right: 10px;
  font-weight: 600;
}
.article-section .article-cards .card .read-more .download-icon {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}
.article-section .article-cards .card .read-more:hover .download-icon {
  transform: rotate(-90deg) scale(1.1);
}
.article-section .btn-container {
  margin-top: 72px;
}
.article-section .btn-container .btn-outline-primary {
  --bs-btn-color: #458ff6;
  --bs-btn-border-color: #458ff6;
  --bs-btn-hover-bg: #458ff6;
  --bs-btn-hover-border-color: #458ff6;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: #307be6;
  --bs-btn-active-border-color: #307be6;
  --bs-btn-active-color: #fff;
  --bs-btn-disabled-color: #458ff6;
  --bs-btn-disabled-border-color: #458ff6;
  font-size: 18px;
  padding: 15px 68px;
}

.footer-relative .footer-element1 {
  top: -72px;
  right: 92px;
}

footer {
  max-width: 100%;
  width: 100%;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  margin-top: 201px;
  padding: 109px 214px 109px 190px;
}
footer .footer-element {
  bottom: -19px;
  left: -19px;
}
footer .footer-element1 {
  top: -72px;
  right: 92px;
}
footer .company-details {
  max-width: 395px;
}
footer .company-details .footer-brand {
  text-decoration: none;
  margin-bottom: 17px;
}
footer .company-details .footer-brand .logo {
  font-size: 26px;
  color: #458ff6;
  padding: 5px 13px;
  margin-right: 12px;
  background-color: white;
}
footer .company-details .footer-brand .brand {
  font-size: 24px;
}
footer .company-details .company-description,
footer .company-details .company-copyright {
  font-size: 18px;
  line-height: 28px;
}
footer .company-details .company-description {
  margin-top: 17px !important;
  margin-bottom: 31px !important;
}
footer .foot-links {
  margin-left: 145px;
}
footer .foot-links .company,
footer .foot-links .region,
footer .foot-links .help {
  list-style-type: none;
  font-size: 18px;
  line-height: 38px;
}
footer .foot-links .company .list-head,
footer .foot-links .region .list-head,
footer .foot-links .help .list-head {
  font-size: 20px;
  margin-bottom: 17px;
}
footer .foot-links .company li:nth-child(4) {
  width: 107px;
}
footer .foot-links .help li:nth-child(5) {
  width: 109px;
}
footer .foot-links .region,
footer .foot-links .help {
  padding-left: 185px !important;
}

@media screen and (max-width: 1400px) {
  nav {
    margin-top: 36px;
    padding-inline: 100px !important;
  }
  .hero-section {
    margin-left: 100px;
    margin-right: 100px;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -150px;
  }
  .hero-section .hero-content {
    padding-top: 100px;
    padding-right: 60px;
  }
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
  .hero-section .hero-content p {
    font-size: 18px;
  }
  .hero-section .hero-content .btn {
    margin-top: 30px;
  }
  .service-relative .service-background {
    top: 165px;
    left: -179px;
  }
  .our-services {
    scroll-margin-top: 80px;
    margin: 100px 100px 0 100px;
  }
  .our-services .service-content h2 {
    font-size: 32px;
  }
  .our-services .service-content hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .our-services .service-content p {
    font-size: 16px;
    margin-top: 25px;
  }
  .our-services .card-container {
    margin-top: 60px;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 40px 0 0 30px;
  }
  .our-services .card-container .row .col .card .card-body {
    padding: 20px 30px 40px 30px;
  }
  .our-services .card-container .row .col .card .card-body h5 {
    font-size: 20px;
  }
  .our-services .card-container .row .col .card .card-body p {
    font-size: 16px;
  }
  .our-services .btn-container {
    margin-top: 50px;
  }
  .healthcare-section {
    margin: 100px 100px 0 100px;
  }
  .healthcare-section .healthcare-content h2 {
    font-size: 32px;
    max-width: 395px;
  }
  .healthcare-section .healthcare-content hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .healthcare-section .healthcare-content p {
    font-size: 16px;
    margin-top: 25px;
    max-width: 395px;
  }
  .download-section {
    scroll-margin-top: 80px;
    margin: 100px 100px 0 100px;
  }
  .download-section .download-content {
    padding: 30px 50px 0 0;
  }
  .download-section .download-content h2 {
    font-size: 32px;
  }
  .download-section .download-content hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .download-section .download-content p {
    font-size: 16px;
    margin-top: 25px;
  }
  .download-section .download-content .btn-outline-primary {
    margin-top: 30px;
  }
  .testimonial-section {
    scroll-margin-top: 100px;
    margin: 100px 100px 0 100px;
  }
  .testimonial-section .custom-slider .testimonial-card h4 {
    font-size: 32px;
    margin-top: 50px;
  }
  .testimonial-section .custom-slider .testimonial-card hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content {
    margin: 50px 50px 50px 50px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content h5 {
    font-size: 20px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content p {
    font-size: 16px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .head-text p {
    font-size: 14px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .slide-text {
    max-width: 395px;
  }
  .article-relative .article-background {
    top: 75px;
    right: -395px;
  }
  .article-section {
    scroll-margin-top: 80px;
    margin: 100px 100px 0 100px;
  }
  .article-section .article-content h2 {
    font-size: 32px;
  }
  .article-section .article-content hr {
    max-width: 50px;
    margin-top: 20px;
  }
  .article-section .article-cards {
    margin-top: 69px;
  }
  .article-section .article-cards .row .card .card-body .card-title {
    font-size: 18px;
  }
  .article-section .btn-container {
    margin-top: 50px;
  }
  footer {
    margin-top: 100px;
    padding: 100px;
  }
  footer .company-details .company-description,
  footer .company-details .company-copyright {
    font-size: 16px;
  }
  footer .foot-links .company,
  footer .foot-links .region,
  footer .foot-links .help {
    font-size: 16px;
  }
  footer .foot-links .company .list-head,
  footer .foot-links .region .list-head,
  footer .foot-links .help .list-head {
    font-size: 18px;
  }
  footer .foot-links .region,
  footer .foot-links .help {
    padding-left: 125px !important;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    margin-top: 26px;
    padding-inline: 50px !important;
  }
  nav .nav-link {
    font-size: 16px;
  }
  .hero-section {
    margin-left: 50px;
    margin-right: 50px;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -100px;
  }
  .hero-section .hero-content {
    padding-top: 50px;
  }
  .hero-section .hero-content h1 {
    font-size: 36px;
  }
  .hero-section .hero-content .btn {
    font-size: 16px;
    padding: 12px 30px;
  }
  .service-relative .service-background {
    top: 145px;
    left: -179px;
    max-width: 800px;
    width: 100%;
  }
  .our-services {
    scroll-margin-top: 80px;
    margin: 50px 50px 0 50px;
  }
  .our-services .bg-service-element {
    transform: translate(calc(-50% + 425px), calc(-50% + 15px));
  }
  .our-services .bg-service-vector {
    top: 130px;
    left: -420.34px;
  }
  .our-services .service-content h2 {
    font-size: 28px;
  }
  .our-services .service-content hr {
    max-width: 40px;
    margin-top: 20px;
  }
  .our-services .service-content p {
    font-size: 16px;
    margin-top: 20px;
  }
  .our-services .card-container {
    margin-top: 40px;
  }
  .our-services .card-container .service-element {
    top: 267px;
    right: -45px;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 30px 0 0 20px;
  }
  .our-services .card-container .row .col .card .card-body {
    padding: 15px 20px 30px 20px;
  }
  .our-services .card-container .row .col .card .card-body h5 {
    font-size: 20px;
  }
  .our-services .card-container .row .col .card .card-body p {
    font-size: 14px;
    line-height: 24px;
  }
  .our-services .btn-container {
    margin-top: 30px;
  }
  .our-services .btn-container .btn-outline-primary {
    font-size: 16px;
    padding: 12px 40px;
  }
  .healthcare-section {
    margin: 50px 50px 0 50px;
  }
  .healthcare-section .healthcare-content h2 {
    font-size: 28px;
  }
  .healthcare-section .healthcare-content hr {
    max-width: 40px;
    margin-top: 20px;
  }
  .healthcare-section .healthcare-content p {
    font-size: 16px;
    margin-top: 20px;
    max-width: 395px;
  }
  .healthcare-section .healthcare-content .button-container {
    margin-top: 20px;
  }
  .healthcare-section .healthcare-content .button-container .btn-outline-primary {
    font-size: 16px;
    padding: 12px 40px;
  }
  .download-section {
    scroll-margin-top: 80px;
    margin: 50px 50px 0 50px;
  }
  .download-section .download-content {
    padding: 20px 30px 0 0;
  }
  .download-section .download-content h2 {
    font-size: 28px;
  }
  .download-section .download-content hr {
    max-width: 40px;
    margin-top: 20px;
  }
  .download-section .download-content p {
    font-size: 16px;
    margin-top: 20px;
  }
  .download-section .download-content .btn-outline-primary {
    font-size: 16px;
    padding: 12px 32px;
    margin-top: 20px;
  }
  .testimonial-section {
    scroll-margin-top: 100px;
    margin: 50px 50px 0 50px;
  }
  .testimonial-section .testimonial-relative .testimonial-element1 {
    left: -45px;
  }
  .testimonial-section .custom-slider .testimonial-card h4 {
    font-size: 28px;
    margin-top: 40px;
  }
  .testimonial-section .custom-slider .testimonial-card hr {
    max-width: 40px;
    margin-top: 20px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content {
    margin: 40px 40px 40px 40px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content h5 {
    font-size: 18px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content p {
    font-size: 16px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .head-text p {
    font-size: 14px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .slide-text {
    max-width: 395px;
  }
  .article-section {
    scroll-margin-top: 100px;
    margin: 50px 50px 0 50px;
  }
  .article-section .article-content h2 {
    font-size: 28px;
  }
  .article-section .article-content hr {
    max-width: 40px;
  }
  .article-section .article-cards .row .card .card-body {
    padding: 24px 35px 35px 25px;
  }
  .article-section .btn-container .btn-outline-primary {
    font-size: 16px;
    padding: 12px 53px;
  }
  footer {
    padding: 50px;
  }
  footer .foot-links .region,
  footer .foot-links .help {
    padding-left: 85px !important;
  }
}
@media screen and (max-width: 992px) {
  nav {
    margin-top: 0;
    padding-inline: 20px !important;
  }
  nav .container-fluid #navbarNav {
    margin-top: 20px;
  }
  .hero-section {
    width: 100%;
    margin: 0;
  }
  .hero-section .bg-element {
    top: 30px;
    left: -50px;
  }
  .hero-section .hero-content {
    padding: 50px 20px 0 20px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
  }
  .hero-section .hero-content h1,
  .hero-section .hero-content p {
    max-width: 100%;
    width: 520px;
    text-align: center;
  }
  .hero-section .hero-background {
    padding: 0 20px;
  }
  .service-relative .service-background {
    top: 200px;
    left: -179px;
  }
  .our-services {
    scroll-margin-top: 310px;
  }
  .our-services .bg-service-element {
    transform: translate(calc(-50% + 315px), calc(-50% + 187px));
  }
  .our-services .bg-service-vector {
    top: 190px;
    left: -500.34px;
  }
  .our-services .service-content h2,
  .our-services .service-content p {
    max-width: 100%;
    width: 520px;
    text-align: center;
  }
  .our-services .card-container .bg-service-element {
    top: 240px;
    right: -0.58px;
  }
  .healthcare-section .healthcare-content {
    padding: 50px 20px 0 20px;
    margin-left: 0;
    max-width: 952px;
    width: 100%;
  }
  .healthcare-section .healthcare-content hr {
    margin-inline: auto;
  }
  .healthcare-section .healthcare-content h2,
  .healthcare-section .healthcare-content p {
    max-width: 520px;
  }
  .download-section {
    scroll-margin-top: 325px;
  }
  .download-section .download-content {
    padding: 50px 20px 0 20px;
    max-width: 952px;
    width: 100%;
  }
  .download-section .download-content h2,
  .download-section .download-content p {
    max-width: 520px;
  }
  .download-section .download-content hr {
    margin-inline: auto;
  }
  .testimonial-section {
    scroll-margin-top: 325px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .head-text {
    margin-left: 0;
    margin-top: 15px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content .slide-text {
    margin-left: 0 !important;
    margin-top: 15px !important;
  }
  .article-section {
    scroll-margin-top: 325px;
  }
  footer .foot-links {
    margin: 0;
    width: 100%;
    margin-top: 40px;
  }
  footer .foot-links .company,
  footer .foot-links .region,
  footer .foot-links .help {
    padding-inline: 40px !important;
  }
}
@media screen and (max-width: 768px) {
  .service-relative .service-background {
    top: 290px;
    left: -290px;
  }
  .our-services {
    scroll-margin-top: 275px;
    width: 100%;
    margin: 50px 0 0 0;
  }
  .our-services .bg-service-element {
    transform: translate(calc(-50% + 218px), calc(-50% + 86px));
  }
  .our-services .bg-service-vector {
    top: 230px;
    left: -510.34px;
  }
  .our-services .service-content {
    padding: 50px 20px 0 20px;
    width: 100%;
  }
  .our-services .card-container {
    padding: 10px 20px 0 20px;
    width: 100%;
  }
  .our-services .card-container .service-element {
    top: 46%;
    right: 62px;
  }
  .our-services .card-container .row .col {
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  .our-services .card-container .row .col .card .icon-container {
    padding: 30px 0 0 0;
  }
  .healthcare-section {
    width: 100%;
    margin: 50px 0 0 0;
  }
  .healthcare-section .heathcare-background {
    padding: 0 20px;
  }
  .healthcare-section .healthcare-content {
    padding: 50px 20px 0 20px;
    width: 100%;
  }
  .download-section {
    scroll-margin-top: 325px;
    width: 100%;
    margin: 50px 0 0 0;
  }
  .download-section .download-background {
    padding: 0 20px;
  }
  .download-section .download-content {
    padding: 50px 20px 0 20px;
    width: 100%;
  }
  .testimonial-section {
    scroll-margin-top: 325px;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0 20px;
  }
  .testimonial-section .custom-slider .testimonial-card h4 {
    padding: 0 20px;
  }
  .testimonial-section .custom-slider .testimonial-card .slide-content {
    margin: 50px 20px 50px 20px;
  }
  .article-section {
    scroll-margin-top: 300px;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0 20px;
  }
  .article-section .article-cards .row .col .card {
    max-width: 500px;
    width: 100%;
  }
  footer {
    margin-top: 80px;
    padding: 20px;
  }
}
@media screen and (max-width: 568px) {
  .service-relative .service-background {
    display: none;
  }
  .our-services {
    scroll-margin-top: 275px;
  }
  .our-services .card-container .service-element {
    top: 46%;
    right: 4px;
  }
  .download-section {
    scroll-margin-top: 325px;
  }
  .testimonial-section {
    scroll-margin-top: 325px;
  }
  .testimonial-section .carousel-controls-wrapper {
    margin-top: 25px;
  }
  .testimonial-section .carousel-controls-wrapper .carousel-indicators {
    margin-inline: 45px !important;
  }
  .article-section {
    scroll-margin-top: 325px;
  }
  .article-section .article-cards .row .col .card {
    text-align: center;
  }
  footer .foot-links {
    row-gap: 10px;
    flex-wrap: wrap;
  }
  footer .foot-links .company,
  footer .foot-links .region,
  footer .foot-links .help {
    padding-inline: 20px !important;
  }
}